In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
print('Pandas Version: ',pd.__version__)
pd.set_option("display.max.columns",None) # setting pandas to display all columns
pd.set_option("display.precision",2) # setting pandas to trim float values to 2 decimal places

Pandas Version:  1.2.4

In [ ]:
import requests
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"
response = requests.get(download_url)

In [ ]:
response.status_code

In [ ]:
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

In [ ]:
nba = pd.read_csv('nba_all_elo.csv')
len(nba) # the dataset contains 126314 rows
nba.shape # the dataset contains 126314 rows and 23 columns

In [ ]:
nba.tail(3)

In [ ]:
nba.info()

In [ ]:
nba.describe()

In [ ]:
nba.describe(include='object')

In [ ]:
display(nba['team_id'].value_counts())
display(nba['team_id'].unique())

In [ ]:
display(nba['fran_id'].value_counts())
display(nba['fran_id'].unique())

In [ ]:
nba.loc[nba['fran_id']=='Lakers','team_id'].value_counts()

In [ ]:
nba['date_game'] = pd.to_datetime(nba['date_game'])
nba.loc[nba['team_id'] == 'MNL','date_game'].min()
nba[nba['team_id']=='MNL']['date_game'].max()
nba[nba['team_id']=='MNL']['date_game'].agg((min,max))

In [ ]:
# nba[nba['team_id']=='BOS']['pts'].sum()
nba.loc[nba['team_id']=='BOS','pts'].sum()

In [ ]:
revenues = pd.Series([5555,7000,1980])
type(revenues)
# display(revenues)
revenues.values
revenues.index
type(revenues.index)
type(revenues.values)

In [ ]:
city_revenues = pd.Series([4200,8000,9000],index=["Mumbai","Banglore",'Hyderabad'])
city_revenues
city_revenues.index
city_revenues.values
type(city_revenues.index)
type(city_revenues.values)

In [ ]:
city_employee_count = pd.Series({'Hyderabad':1000,'Mumbai':1600})
city_employee_count
city_employee_count.index
city_employee_count.values
city_employee_count.keys()
list(city_employee_count.items())
'Hyderabad' in city_employee_count
'Banglore' in city_employee_count

In [ ]:
city_data = pd.DataFrame({'revenue':city_revenues, 'employee_count':city_employee_count})
display(city_data)
city_data.index
city_data.axes[1]
'revenue' in city_data

In [ ]:
nba.axes
'pts' in nba.keys()

In [ ]:
nba.iloc[[-2]]

In [ ]:
nba

In [ ]:
nba.loc[5555:5559,['team_id','opp_id','opp_fran','opp_pts']]

In [ ]:
current_decade = nba.loc[nba['year_id']> 2010]
current_decade.shape

In [ ]:
games_with_notes = nba[nba['notes'].notnull()]
games_with_notes.shape

In [ ]:
games_with_notes_na = nba[nba['notes'].notna()]
games_with_notes_na.shape

In [ ]:
ers = nba[nba['fran_id'].str.endswith("ers")][['fran_id']]
ers.shape

In [ ]:
nba[(nba['team_id']=='BLB') & (nba['pts'] > 100) & (nba['opp_pts']>100) & (nba['_iscopy']==0)]

In [ ]:
nba[
    (nba['team_id'].str.startswith('LA'))&
    (nba['year_id'] == 1992)&
    (nba["notes"].notnull())
]

In [ ]:
city_revenues.agg((sum,max))

In [ ]:
nba['pts'].agg((sum,min,max))

In [ ]:
nba.groupby('team_id')['pts'].agg((sum,max,min))

In [ ]:
nba[
    (nba['fran_id'] == 'Spurs') & (nba['year_id'] > 2010)].groupby(['year_id','game_result'])['game_id'].count()

In [ ]:
nba[
    (nba['fran_id'] == 'Warriors')&(nba['year_id'] == 2015)
].groupby(['is_playoffs','game_result'])['game_id'].count()

In [ ]:
df = nba.copy()
df.shape

In [ ]:
df['difference'] = df['pts']-df['opp_pts']
df.shape

In [ ]:
df['difference'].agg(('count','min','max','sum','mean'))

In [ ]:
nba

In [ ]:
nba.rename(columns={'game_result':'result', 'game_location':'location'}, inplace=True)

In [ ]:
nba.info()

In [ ]:
nba.drop(['elo_i','elo_n','opp_elo_i','opp_elo_n'], axis=1, inplace=True)

In [ ]:
nba.shape

In [ ]:
df['date_game'] = pd.to_numeric(df['date_game'], errors='raise')

In [ ]:
df['game_location'].nunique()

In [ ]:
df['fran_id'].nunique()

In [ ]:
df['game_location'].value_counts()

In [ ]:
df['game_location'] = pd.Categorical(df['game_location'])

In [ ]:
display(df['game_location'].dtype)
display(type(df['game_location']))

In [ ]:
df.info()

In [ ]:
df

In [ ]:
dfna = df.dropna(axis=1)
dfna.shape
# df.shape

In [ ]:
nba2 = nba.copy()
nba2['notes'].fillna('-', inplace=True)
nba2

In [ ]:
nba2.describe()

In [ ]:
nba[(nba['pts']>nba['opp_pts']) & (nba['result'] != 'W')].empbty

In [ ]:
nba[(nba['pts']<nba['opp_pts']) & (nba['result'] != 'L')].empty

In [ ]:
further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee_count":[2, 2]},
    index=["New York", "Barcelona"]
)

In [ ]:
further_city_data

In [ ]:
city_data

In [ ]:
all_city_data = pd.concat([city_data,further_city_data], sort=True)

In [ ]:
all_city_data

In [ ]:
city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)

In [ ]:
city_countries

In [ ]:
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False, join='inner')
cities

In [ ]:
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].sum().plot()

In [ ]:
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
nba[(nba['fran_id']=='Heat') & (nba['year_id'] == 2013)]['result'].value_counts().plot(kind='pie')