In [3]:
import pandas as pd
import requests

In [4]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [21]:
response = requests.get(url).json()
response[0]['labels']

[{'id': 57296398,
  'node_id': 'MDU6TGFiZWw1NzI5NjM5OA==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Algos',
  'name': 'Algos',
  'color': 'eb6420',
  'default': False,
  'description': 'Non-arithmetic algos: value_counts, factorize, sorting, isin, clip, shift, diff'},
 {'id': 76811,
  'node_id': 'MDU6TGFiZWw3NjgxMQ==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
  'name': 'Bug',
  'color': 'e10c02',
  'default': False,
  'description': None},
 {'id': 233160,
  'node_id': 'MDU6TGFiZWwyMzMxNjA=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
  'name': 'Groupby',
  'color': '729FCF',
  'default': False,
  'description': None},
 {'id': 2822342,
  'node_id': 'MDU6TGFiZWwyODIyMzQy',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Missing-data',
  'name': 'Missing-data',
  'color': 'd7e102',
  'default': False,
  'description': None}]

In [33]:
masterDF = pd.DataFrame(columns=['id','node_id','url','name','color','default','description'])
masterDF

Empty DataFrame
Columns: [id, node_id, url, name, color, default, description]
Index: []

In [31]:
for i in range(len(response)):
    s = pd.DataFrame(response[i]['labels'])
    masterDF.append(s,ignore_index=False)

In [32]:
masterDF

Empty DataFrame
Columns: [id, node_id, url, name, color, default, description]
Index: []